@{
    Layout = null;
}
@using MissionSearchEpi.UI.ViewModels

@model SearchAdminViewModel
<!DOCTYPE html>

<html>
<head>
        
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="@Model.GetShellPath("/ClientResources/epi/themes/legacy/ShellCore.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.GetShellPath("/ClientResources/epi/themes/legacy/ShellWidgets.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.GetShellPath("/ClientResources/epi/themes/legacy/ShellCoreLightTheme.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.GetShellPath("/ClientResources/epi/themes/legacy/ShellWidgetsLightTheme.css")" />
    <link href="../../../App_Themes/Default/Styles/ToolButton.css" type="text/css" rel="stylesheet" />

    <title></title>
</head>
<body>
    <div class="epi-contentContainer epi-padding">
        <h1>Search Admin</h1>



        <div class="epi-contentContainer epi-padding-large">

            <div>

                @Html.ActionLink("Manage Synonyms", "index", "SynonymsAdmin") |
                @Html.ActionLink("Manage Suggested Queries", "index", "SuggestedQueriesAdmin") |
                @Html.ActionLink("Manage Web Crawler", "index", "WebCrawlerAdmin")
            </div>
            <hr />


            <h3>Configuration</h3>
            <table id="FullRegion_DatabaseTable" class="epi-default">
                <tbody>
                    <tr><th width="30%"></th><th width="70%"></th></tr>
                    <tr><td>Search Index</td><td>@Model.SearchServer</td></tr>
                    <tr><td>Search Client</td><td>@Model.SearchClient</td></tr>
                    <tr><td>Status</td><td>@Model.Status</td></tr>
                </tbody>
            </table>
            <h3>Crawl</h3>
    @using (Html.BeginForm("SaveSettings", "SearchAdmin"))
    {
            <table id="FullRegion_DatabaseTable" class="epi-default">
                <tbody>
                    <tr><th width="30%"></th><th width="70%"></th></tr>
                    <tr><td>Last page crawl:</td><td>@Model.LastContentCrawlDate</td></tr>
                    <tr><td>Last media crawl:</td><td>@Model.LastAssetCrawlDate</td></tr>
                    <tr><td>Index page when published:</td><td>@Html.CheckBox("IndexOnPublishContent")</td></tr>
                    <tr><td>Index media when published:</td><td>@Html.CheckBox("IndexOnPublishAsset")</td></tr>
                    <tr><td>Page Exclusions:</td><td>@Html.TextArea("CrawlerPageExclusions")</td></tr>
                </tbody>
            </table>
        
                <span class="epi-cmsButton">
                        <input type="submit" class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Save" value="Save Settings" />
                    </span>
 
    }

            <br />
            <h3>Index</h3>

            <table id="FullRegion_DatabaseTable" class="epi-default">
                <tbody>
                    <tr><th width="30%">Type</th><th width="70%">Count</th></tr>
                    <tr><td>Total Items</td><td><b>@Model.IndexTotalItems</b></td></tr>
                    @foreach (var contentyype in Model.IndexCounts ?? new Dictionary<string, long>())
                    {
                        <tr><td>@contentyype.Key</td><td>@contentyype.Value</td></tr>
                    }

                </tbody>
            </table>

            <div class="epi-buttonDefault">

            </div>




        </div>
    </div>
</body>
</html>
