@{
    Layout = null;
}
@using MissionSearch;
@using MissionSearchEpi;

@model SearchResponse<SearchDocument>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
        <ul class="srch-facets">
            @foreach (var facet in Model.Refinements ?? Enumerable.Empty<Refinement>())
            {
                <li class="srch-facet">
                    <h5><b>@facet.Label</b></h5>
                    <ul>
                        @foreach (var facetItem in @facet.Items ?? Enumerable.Empty<RefinementItem>())
                        {
                            <li>
                                <input type="checkbox"
                                       class="refinement-checkbox"
                                       checked="@facetItem.Selected"
                                       onclick="window.location.replace('@Model.RefinementPostBackUrl@facetItem.AddRemoveRefinement(Model.CurrentRefinements)')" />
                                <a href="@Model.RefinementPostBackUrl@facetItem.AddRemoveRefinement(Model.CurrentRefinements)">@facetItem.Label (@facetItem.Count)</a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>





        <ul class="srch-results">
            @foreach (var resultItem in Model.Results ?? Enumerable.Empty<SearchDocument>())
            {
                <li>
                    <a href="@resultItem.url">@resultItem.title</a>
                    <date-span>@resultItem.timestamp.ToString("MMMM dd yyyy")</date-span>
                    <p>@resultItem.summary</p>
                </li>
            }
        </ul>
    </div>
</body>
</html>
