@{
    Layout = null;
}
@using MissionSearchEpi.UI.ViewModels;

@model SuggestedQueriesAdminViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="@Model.GetShellPath("/ClientResources/epi/themes/legacy/ShellCore.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.GetShellPath("/ClientResources/epi/themes/legacy/ShellWidgets.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.GetShellPath("/ClientResources/epi/themes/legacy/ShellCoreLightTheme.css")" />
    <link rel="stylesheet" type="text/css" href="@Model.GetShellPath("/EPiServer/Shell/8.2.2.0/ClientResources/epi/themes/legacy/ShellWidgetsLightTheme.css")" />
    <link href="../../../App_Themes/Default/Styles/ToolButton.css" type="text/css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="epi-contentContainer epi-padding">
        <h1>Search Admin - Manage Suggested Queries</h1>

        <div class="epi-contentContainer epi-padding-large">

            <h3>Configuration</h3>
            <table id="FullRegion_DatabaseTable" class="epi-default">
                <tbody>
                    <tr><th width="30%"></th><th width="70%"></th></tr>
                    <tr><td>Search Index</td><td>@Model.SearchServer</td></tr>
                    <tr><td>Search Client</td><td>@Model.SearchClient</td></tr>
                    <tr><td>Total Terms</td><td>@Model.IndexTotal</td></tr>
                </tbody>
            </table>


            <h3>Upload</h3>
            @using (Html.BeginForm("Upload",
                        "SuggestedQueriesAdmin",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
            {
                <label for="file">Upload Suggested Queries:</label>
                <input type="file" name="file" id="file" /><br><br>
                <input type="submit" value="Upload" />
                <br><br>
                @ViewBag.Message
            }


            <h3>Dictionary</h3>
            <div style="margin:0px 4px 4px 0px">
                @Html.ActionLink("Refresh", "Index") | @Html.ActionLink("Add", "Add")


            </div>
@using (Html.BeginForm("Search", "SuggestedQueriesAdmin"))
        {

            @Html.TextBox("queryTerm")
           
                  <input type="submit" class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Search" value="Search" />
}   


                <div class="row-fluid">
                    <div style="float:left;">
                        @if (Model.PagingInfo != null && Model.PagingInfo.Pages.Any())
                        {
                            <ul class="pagination">
                                <li style="display:inline;"><a href="@string.Format("/SuggestedQueriesAdmin/Search?queryTerm={0}{1}",Model.QueryTerm, Model.PagingInfo.FirstPageLink)">First</a></li>
                                @foreach (var page in Model.PagingInfo.Pages)
                                {
                                    <li style="display:inline;">
                                        <a href="@string.Format("/SuggestedQueriesAdmin/Search?queryTerm={0}{1}", Model.QueryTerm, page.Link)">@page.Page</a>
                                    </li>
                                }
                                <li style="display:inline;"><a href="@string.Format("/SuggestedQueriesAdmin/Search?queryTerm={0}{1}",Model.QueryTerm, Model.PagingInfo.LastPageLink)">Last</a></li>
                                <li style="display:inline;">

                                </li>
                            </ul>
                        }

                    </div>
                    <div style="float:right;">

                        (@Model.PagingInfo.StartRow to @Model.PagingInfo.EndRow of @Model.TotalFound Terms)

                    </div>
                </div>

                <div>

                </div>
                <div>

                </div>



                <table id="FullRegion_DatabaseTable" class="epi-default">
                    <tbody>
                        <tr><th width="80%">Term</th><th width="20%"></th></tr>

                        @foreach (var term in Model.Terms ?? new List<string>())
                        {
                            <tr><td>@term</td><td>@Html.ActionLink("delete", "Delete", "SuggestedQueriesAdmin", new { queryterm = term }, null)</td></tr>
                        }
                    </tbody>
                </table>
            </div>
    </div>
</body>
</html>
